.flex {
  display: flex;
  justify-content: space-evenly;
}
.form-control:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25); /* Change the color and properties as needed */
}
